body{
    text-align: center;
}
#zayn{
    width: 260px;
    height: 194px;
}
#harry{
    width: 260px;
    height: 194px;
}
#liam{
    width: 260px;
    height: 194px;
}
#louis{
    width: 260px;
    height: 194px;
}
#niall{
    width: 260px;
    height: 194px;
}